<div class="container" id="intro">
  <h1>Movie Lists</h1>
  <%= link_to "Add a List" , new_list_path%>
</div>

<div class="container">
  <div class="row justify-content-space-around">
    <% @lists.each do |list| %>
      <div class="col my-3">
        <div class="card" style="width: 18rem, height:18rem;">
          <img src="https://source.unsplash.com/random" class="card-img-top" alt="A random picture">
          <div class="card-body">
            <p class="card-text">
              <%=link_to list.name, list_path(list) %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
